---
layout: default
title: Citizen Research Centre
section_id: home

milestones:
  - from: 0
    to: 15
    title: Research Projects Completed
  - from: 0
    to: 150
    title: Tweets Analysed A Minute
  - from: 0
    to: 8
    title: Tweets a day per person 
  - from: 0
    to: 30
    title: Percentage of time spent on Social Media

works:
  - image: work-1.jpg
    title: Beautiful Girl
    category: Design &amp; Development
  - image: work-2.jpg
    title: Look at me
    category: Design &amp; Development
  - image: work-3.jpg
    title: Am I cute
    category: Design &amp; Development
  - image: work-4.jpg
    title: Umbrella
    category: Design &amp; Development
---

{% include slider.html %}

<div class='full' style='background: #ffffff'>
  <div class='row'>
    <div class='large-10 columns'>
      <h2>Who are we?</h2>
	  </div>
	  </div>
	  <div class='row'>
	   <div class='large-5 columns'>
      <p>The Citizen Research Centre is a Research organisation focused on deepening our understanding of important social issues and contributing to their solutions. 
The Citizen Research Centre is born out of a deep commitment to adding value to the world, through utilising our years of research experience. As researchers we realised that the best way we can contribute to a better world is through generating primary data. 
</p><p>We describe what we do as social research. This is research done in order to improve and expand on our knowledge of the world by providing decision makers in social policy and intervention projects with the best data possible. 
</p>
    </div>
	<div class='large-5 columns'>
<p>We run primary research - both quantitative and qualitative - in 54 countries in Africa and the Middle East. 
We run analytical research on social media on a global basis through our partnership with <a href="www.crimsonhexagon.com">Crimson Hexagon</a>  
</p><p>We work for a variety of clients, but are also committed to generating our own data for public distribution. We generate our own data using traditional, online and social media.
The Citizen Research Centre was born of <a href="www.vibrand.co.za">Vibrand Research</a>, a market research firm with a reputation for intelligent, innovative work. 
</p>
      <a href="who-are-we.html" class='button_dark boxed'>Learn More</a>
    </div>
	<div class='large-2 columns'>
      <img class='fadeinleft' src='{{site.url}}/images/who.png'>
    </div>
  </div>
</div>
<div class='full bg-4 no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='milestone light'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'></strong>
          <span>{{milestone.title}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<div class='full' style='background: #ffffff'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Our recent releases</h2>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}
      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
		  <div style="margin-bottom: 0px; margin-top: 0px; padding: 0px; background-color: #fff;">
		  <h4 style="padding: 10px; background-color: #212121; margin: 0px; min-height: 65px;"><a href="{{post.url}}"">{{post.title}}</a></h4>
            <div style="margin-top: 0px; padding: 0px; margin: 0px; border: 1px solid #212121;">
			<p style="font-size: 11px; color: #212121; padding: 10px; margin: 0px;" class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <p style="color: #212121; padding: 10px; margin: 0px;">{{post.excerpt}}</p>
			</div>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
		  </div>
        </div>
      </div>
	  {% endfor %}
	  </div>
	<div class='row'>
	<div class="two spacing"></div>
<div class='centered-text'><a href="{{ site.url }}/releases" class='button_dark boxed'>View All Releases</a></div>
<div class='two spacing'></div>
  </div>
  </div>
{% include get-in-touch.html %}
