---
layout: media
title: Media
section_id: Media
ogimage: media.jpg
description: We are eager to expand our offering – especially reporting into the public domain - this page is specifically for media individuals and corporations. 
---

<div class='full_content_page bg-7' >
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-newspaper'></i>
      <h2>Media</h2>
      <p>Tell Meaningfull Stories with Our Data</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  </div>
  <div class='full_content_page' style='background: #ffffff' >
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>Data has become a critical part of journalism in the 21st century. Readers are looking for an increasingly current, insightful and meaningful analysis of the world around them to help normalise, explain, expand and enrich their world. Concurrently, media business models are shifting and, while the industry is in transition, journalists are being asked to perform miracles to meet this growing consumer demand. Fewer hands to help, more demanding readers to appease. A difficult juggling act and the pressure really falls on the individuals.</p>
 
<p>That's where we come in. We work with Crimson Hexagon (link) to conduct detailed Social Media led research into a broad range of social issues. We have several articles below which you are welcome to draw on for publishing, with the following provisos:</p>
<ul><li>We are given forewarning of where and when publication is to occur</li>
<li>If there is a digital link that can be provided, please do.  We will send these out as Facebook posts on our Facebook page, generating publicity for ourselves and your organisation.</li>
<li>The Citizen Research Centre and Crimson Hexagon are to be credited in all articles, with links to our websites</li>
</ul>
</p>
      </div>
	 
	
	<div class='medium-6 large-6 columns'>
      <p>In essence, we are looking to establish lasting relationships and partnerships with media outlets around the world in an effort to raise the informed dialogue on global social issues. Browse our site for more details of what we do and why it matters. And if you have any ideas on topics you would like social media analysis on, do let us know!</p>
<strong><p>Current articles are:
</p></strong>
 <div>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
       <ul>
      {% endif %}
           <li><a href="{{post.url}}" target="_blank">{{post.title}}</a></li>
          {% endfor %}
          </ul>
      </div>
      <div class='spacing'></div>
      <strong><p>Upcoming work is as follows:</p></strong>
      <ul><li>Brexit Report Details (I need the report titles)</li></ul>
      <p>Following Brexit, we will be working on social media analysis of politician’s’ social media approval rankings.  We will start with South Africa, followed by America and the UK. Please let us know if you have a particular interest in this.</p>
<p>Thanks</p>
<p>The Citizen Research Centre team (Stuart, Tim, Dee, Claudia, Janine and Marilu)
</p>
    </div>

  </div>
  {% include media-get-in-touch.html %}