<div class='full bg-6'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title_white centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
<div class='row'>
  <div class='large-3 columns'>
    <div class='two spacing'></div>
  </div>
<div class='large-6 columns centered-text'>
  <h3><a href="mailto:info@citizenresearchcentre.org">info@citizenresearchcentre.org</a></h3>
<img class="center_image" src="{{site.url}}/images/bubble.png" alt="contact bubble image" width="200">
</div>
<div class='large-3 columns'>
  <div class='two spacing'></div>
</div>
</div>
</div>