{% for post in site.posts %}
  {% if post.categories contains 'public_research' %}
    <div class='large-3 medium-3 columns' style="margin-top: 40px; float: left;">
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{site.url}}/{{image}}" /></a>
          {% endfor %}
          <div class='content'>
		  <div style="border: 1px solid #fcbf31; padding: 10px; min-height: 130px;">
		  <h4><a class="centered-text" style="color: #333;" href="{{post.url}}">{{post.title}}</a></h4>
			<p class="centered-text"><a class="button_dark boxed"  href="{{post.url}}">Read More</a></p>
          </div>
		  </div>
        </div>
      </div>
  {% endif %}
{% endfor %}