{% for post in site.posts %}
  {% if post.categories contains 'public_research' %}
    <div class='large-4 medium-4 columns' style="margin-top: 40px;">
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{site.url}}/{{image}}" /></a>
          {% endfor %}
          <div class='content'>
		  <div style="border: 1px solid grey; padding: 10px;">
		  <h4><a href="{{post.url}}">{{post.title}}</a></h4>
			<p><a href="{{post.url}}">Read More</a></p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
		  </div>
        </div>
      </div>
  {% endif %}
{% endfor %}