<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    Default Page Title
  {% endif %}
</title></title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      {% if page.description %}
  <meta name="description" content="{{ page.description}}" />
{% endif %}
            <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='{{ site.url }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/style.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/fontello.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/footable.standalone.css' rel='stylesheet'>
      <link href='{{ site.url }}/css/tooltip.css' rel='stylesheet'>
      <link rel="stylesheet" href="js/jvectormap/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
  <script src="js/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="js/jvectormap/maps/africamap.js"></script>
  <script src="js/jvectormap/data/africatweetdata.js"></script>
  
    <link rel='shortcut icon' href='{{ site.url }}/images/favicon.ico' type='image/x-icon'/ >
      <script src='{{ site.url }}/js/modernizr.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/string.js/3.3.1/string.min.js"></script>

      



    </head>
    <body>
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1547518952146523";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      
      <div class='contain-to-grid sticky'>
        <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
          <ul class='title-area'>
            <li class='name'>
              <h1>
                <a href="index.html"><img src='{{site.url}}/images/logo.jpg' width="220"></a>
              </h1>
            </li>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "active" %}
                {% else %}
                  {% assign active_class = "" %}
                {% endif %}

                {% if item.children %}
                  <li class="has-dropdown {{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                    <ul class='dropdown'>
                      {% for child in item.children %}
                        <li>
                          <a href="{{site.url}}/{{ child.path }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{active_class}}">
                    <a href="{{site.url}}/{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        </nav>
      </div>


      {{ content }}


      <div class='footer centered-text'>
        <div class='spacing'></div>
        <div class='row'>
          <div class='large-12 columns'></div>
          <h1 class='light'>
            <img src='{{site.url}}/images/footer_logo.png' width="50">
            <br>
          </h1>
          <div class='spacing'></div>
          <div class='spacing'></div>
          <div class='socials centered-text'>
            
          </div>
          <p class='copyright'>P: 723 322 1232 / E: info@citizenresearchcentre.org <br/>Copyright 2016 Citizen Research Centre</p><p style="font-size: 9px; color: #fff;">Developed by <a href="http://thebrandconsultant.co.za">The Brand Consultant</a>
        </div>
      </div>


      <script src='{{ site.url }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}/js/jquery.appear.js'></script>
      <script src='{{ site.url }}/js/app.js'></script>
            <script src='{{ site.url }}/js/footable.min.js'></script>
      <script src='{{ site.url }}/js/footable.js'></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
  $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});

  </script>
    </body>
</html>