---
layout: default
---


<div class='full bg-7'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-eye'></i>
      <h2>{{page.title}}</h2>
      <p>{{page.subtitle}}</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  </div>
 <div class='full' style="background: #ffffff;">
  <div class='row'>
<div class='large-12 columns'>
      {{ content }}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/releases" class="older">Older Entries</a>
            {% else %}
              <a href="/releases/page{{ paginator.next_page }}" class="older">Older Entries</a>
            {% endif %}
          {% else %}
            <span class="older">Older Entries</span>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/releases" class="newer">Newer Entries</a>
            {% else %}
              <a href="/releases/page{{ paginator.previous_page }}" class="newer">Newer Entries</a>
            {% endif %}
          {% else %}
            <span class="newer">Newer Entries</span>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>